
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post , class: 'form-small'}) do |f| %>
  <h2><%= t('.resend_confirmation_instructions') %></h2>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit t('.resend_confirmation_instructions'), class: 'btn btn-primary btn-block' %>
  </div>
  <br />
  <%= render "devise/shared/links" %>
<% end %>

