
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-small'}) do |f| %>
  <h2><%= t('.sign_up') %></h2>
  <%= devise_error_messages! %>
  <%= flash[:recaptcha_error] %>

  <%= recaptcha_tags %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit t('.sign_up'), class: 'btn btn-primary btn-block' %>
  </div>
  <br />
  <%= render "devise/shared/links" %>
<% end %>

