
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-small' }) do |f| %>
  <h2><%= t('.change_your_password') %></h2>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, t('.new_password') %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, t('.confirm_new_password') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit t('.change_my_password'), class: 'btn btn-primary btn-block' %>
  </div>
  <br />
  <%= render "devise/shared/links" %>
<% end %>

