
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-small' }) do |f| %>
  <h2><%= t('.forgot_your_password') %></h2>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-primary btn-block' %>
  </div>
  <br />
  <%= render "devise/shared/links" %>
<% end %>

