<table class="table">
  <thead>
    <tr>
      <th>
        <span>Number</span>
      </th>
      <th>
        <span>txid</span>
      </th>
      <th>
        <span>BTC</span>
      </th>
      <th>
        <span>Token</span>
      </th>
      <th>
        <span>Confirmations</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <%txes.each_with_index do |c, i|%>
      <tr class="<%= c.finish? ? 'success' : (c.unfinish? ? 'error' : 'info') %>">
        <td>
          <%= i + 1%>
        </td>
        <td>
          <%= c.txid %>
        </td>
        <td>
          <%= c.amount %>
        </td>
        <td>
          <%= c.paidToken %>
        </td>
        <td>
          <%= c.confirmations %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>

<%= paginate txes, remote: true %>
