<div class="container">
  <br>
  <ul class="nav nav-pills">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/wallet">My Wallet</a></li>
    <li role="presentation">
      <%= link_to 'Logout', destroy_account_session_path, method: :delete %>
    </li>
  </ul>

  <div class="row-fluid">
    <div class="span12">
      <h3>
        Purchase history
      </h3>
      <table class="table">
        <thead>
          <tr>
            <th>
              <span>Number</span>
            </th>
            <th>
              <span>Address</span>
            </th>
            <th>
              <span>Token</span>
            </th>
            <th>
              <span>BTC</span>
            </th>
            <th>
              <span>TokenAmount</span>
            </th>
            <th>
              <span>payAmount</span>
            </th>
            <th>
              <span>Purchase</span>
            </th>
            <th>
              <span>Status</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <%@wallets.each_with_index do |c, i|%>
            <tr class="<%= c.finish? ? 'success' : (c.fails? ? 'error' : 'info') %>">
              <td>
                <%= i + 1%>
              </td>
              <td>
                <a href="https://blockexplorer.com/address/<%= c.Address%>"><%= c.Address%></a>
              </td>
              <td>
                <%= c.Token %>
              </td>
              <td>
                <%= c.Btc %>
              </td>
              <td>
                <%= c.TokenAmount %>
                &nbsp;
                <%= link_to "details", wallet_txes_path(address: c.Address), remote: true %>
              </td>
              <td>
                <%= c.payAmount %>
              </td>
              <td>
                <%= c.created_at.strftime("%d/%m/%Y %H:%M:%S")%>
              </td>
              <td id="status-<%= c.ID %>">
                <%= link_to_if c.confirm?, c.status.titleize, wallet_status_path(id: c.ID, t: :confirm), method: :put, data: {confirm: 'confirm the transaction is finish?'}, remote: true %>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
      <%= paginate @wallets %>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-wallet-txes" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">
          Wallet(<span id="wallet-address"></span>) Txes
        </h4>
      </div>
      <div class="modal-body" id="wallet-txes-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


