<%= stylesheet_link_tag 'home', 'data-turbolinks-track': 'reload' %>
<header id="header">
  <nav class="navbar navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Trippacer</a>
      </div>
      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#header">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#gocoin">Go coin</a></li>
          <li><a href="#milestone">Milestone</a></li>
          <li><a href="#our-team">Our Team</a></li>
          <li><a href="/wallet">My Wallet</a></li>
        </ul>
      </div>
    </div>
    <!--/.container-->
  </nav>
  <!--/nav-->
</header>
<!--/header-->
<div class="slider">
  <div id="about-slider">
    <div id="carousel-slider" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators visible-xs">
        <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-slider" data-slide-to="1"></li>
        <li data-target="#carousel-slider" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag '7.jpg', class: 'img-responsive'%>
          <div class="carousel-caption">
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
              <h2><span>Unleash the power of Artificial Intelligence</span></h2>
            </div>
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
              <p>Something about our AI</p>
            </div>
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
              <form class="form-inline">
                <div class="form-group">
                  <button type="livedemo" name="Live Demo" class="btn btn-primary btn-lg" required="required">White paper</button>
                </div>
                <div class="form-group">
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="item">
          <%= image_tag '6.jpg', class: 'img-responsive'%>
          <%# <img src="6.jpg" class="img-responsive" alt=""> %>
          <div class="carousel-caption">
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">
              <h2>Smarter than a Smart Contract</h2>
            </div>
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.3s">
              <p>Something about our smart contract</p>
            </div>
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.6s">
              <form class="form-inline">
                <div class="form-group">
                  <button type="livedemo" name="purchase" class="btn btn-primary btn-lg" required="required">White paper</button>
                </div>
                <div class="form-group">
                  <a href="./purchase" type="getnow" name="subscribe" class="btn btn-primary btn-lg" required="required">Go to by token</a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag '1.jpg', class: 'img-responsive'%>
          <%# <img src="1.jpg" class="img-responsive" alt=""> %>
          <div class="carousel-caption">
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
              <h2>Go coin</h2>
            </div>
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
              <p>Something about our go coin</p>
            </div>
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
              <form class="form-inline">
                <div class="form-group">
                  <button type="livedemo" name="purchase" class="btn btn-primary btn-lg" required="required">White paper</button>
                </div>
                <div class="form-group">
                  <a href="./purchase" type="getnow" name="subscribe" class="btn btn-primary btn-lg" required="required">Go to by token</a>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
        <i class="fa fa-angle-left"></i>
      </a>

      <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
    <!--/#carousel-slider-->
  </div>
  <!--/#about-slider-->
</div>
<!--/#slider-->

<div id="about">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h3>About</h3>
        <p>Somethin about our project.<br>newline</p>
      </div>
      <div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">
            <i class="fa fa-laptop"></i> <!--can find icons here http://fontawesome.io/icons/-->
            <h2>Point one</h2>
            <p>Something about point one</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">
            <i class="fa fa-heart-o"></i> <!--can find icons here http://fontawesome.io/icons/-->
            <h2>Point two</h2>
            <p>Something about point two</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">
            <i class="fa fa-cloud"></i> <!--can find icons here http://fontawesome.io/icons/-->
            <h2>Point three</h2>
            <p>Something about point three</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">
            <i class="fa fa-camera"></i> <!--can find icons here http://fontawesome.io/icons/-->
            <h2>Point four</h2>
            <p>Something about point four</p>
          </div>
        </div>
      </div>

      <!-- more point can add this code block

        <div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
        <div class="text-center">
        <div class="hi-icon-wrap hi-icon-effect">
        <i class="fa fa-camera"></i>
        <h2>Point four</h2>
        <p>Something about point four</p>
        </div>
        </div>
        </div>
      -->

    </div>
  </div>
</div>

<div id="gocoin">
  <div class="container">
    <div class="text-center">
      <h3>Gocoin</h3>
      <p>Somethin about gocoin<br>newline</p>
    </div>
    <div class="row">

      <div class="coming-soon">
        <div class="container">
          <div class="row">
            <div class="text-center">
              <h3>We're Coming Soon</h3>
              <p>Something to say</p>
              <div class="timer">
                <div class="days-wrapper">
                  <span class="days"></span> <br>days
                </div>
                <div class="hours-wrapper">
                  <span class="hours"></span> <br>hours
                </div>
                <div class="minutes-wrapper">
                  <span class="minutes"></span> <br>minutes
                </div>
                <div class="seconds-wrapper">
                  <span class="seconds"></span> <br>seconds
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
<!--/#gocoin-->

<div class="parallax-window">
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center">
      <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.2s">
        <h2>Another thing aoubt our coin</h2>
      </div>
      <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.6s">
        <p>our coin XXXXXXXX<br> XXXXXXXX
        </p>
      </div>
    </div>
  </div>
  <div class="sub-parallax">
    <div class="text-center">
      <div class="col-md-12">
        <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.9s">
          <form class="form-inline">
            <div class="form-group">
              <button type="subscribe" name="subscribe" class="btn btn-primary btn-lg" required="required">Buy coin</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/#parallax-window-->

<div id="milestone">
  <div class="container">
    <div class="text-center">
      <h3>Milestone Table</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>

    <div class="milestone-area text-center">
      <div class="row">

        <div class="col-md-12">
          <div class="VivaTimeline">
            <dl>
              <dt>May 2016</dt>
              <dd class="pos-left clearfix">
              <div class="circ"></div>
              <div class="time">Feb 03</div>
              <div class="events">
                <div class="events-header">Event Heading</div>
                <div class="events-body">
                  <div class="row">
                    <div class="col-md-6 pull-left">
                      <img class="events-object img-responsive img-rounded" src="<%#= image_url('dog01.jpeg') %>" />
                    </div>
                    <div class="events-desc">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pull-left">
                      <img class="events-object img-responsive img-rounded" src="<%#= image_url('dog02.jpeg') %>" />
                    </div>
                    <div class="events-desc">
                      Morbi at nisi vitae mauris pretium egestas. Morbi placerat risus ligula, nec placerat urna porta vel. Nullam sollicitudin orci quis odio eleifend, ut facilisis orci lobortis. Vivamus sed lobortis odio. Nam volutpat, leo a ullamcorper luctus, sapien libero auctor est, sed semper massa turpis sed quam. Mauris posuere, libero in ultricies dignissim, lacus purus egestas urna, nec semper lorem tellus non eros. Nam at bibendum libero. Curabitur a ante et orci cursus tincidunt. Vivamus dictum, libero et rhoncus congue, nulla erat mollis dui, vitae cursus dui justo quis velit. In a tellus arcu. Nam at lobortis nisl. Donec consequat placerat eros, quis elementum mauris sodales a. Maecenas id feugiat velit. Phasellus dictum eleifend varius. Cras nec orci turpis. Aenean ut turpis nibh.
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pull-left">
                      <img class="events-object img-responsive img-rounded" src="<%#= image_url('dog03.jpeg') %>" />
                    </div>
                    <div class="events-desc">
                      Cras condimentum, metus ut vehicula euismod, odio massa pulvinar neque, id gravida neque est et sem. Proin consequat id nibh quis molestie. Quisque vehicula purus id purus elementum facilisis. Phasellus sodales nibh quis neque rhoncus aliquet. Nunc eget ipsum efficitur, pretium arcu et, gravida purus. Phasellus tempor lacus ac enim pulvinar elementum. Integer aliquet justo lacinia nunc tempus vulputate.
                    </div>
                  </div>
                </div>
                <div class="events-footer">
                  123
                </div>
              </div>
              </dd>
              <dt>Feb 2016</dt>
              <dd class="pos-right clearfix">
              <div class="circ"></div>
              <div class="time">Jan 21</div>
              <div class="events">
                <div class="events-header">A Very Very Looooooooooooooooooooong Event Heading</div>
                <div class="events-body">
                  <div class="row">
                    <div class="col-md-6 pull-left">
                      <img class="events-object img-responsive img-rounded" src="<%#= image_url('cat01.jpeg') %>" />
                    </div>
                    <div class="events-desc">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pull-left">
                      <img class="events-object img-responsive img-rounded" src="<%#= image_url('cat02.jpeg') %>" />
                    </div>
                    <div class="events-desc">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pull-left">
                      <img class="events-object img-responsive img-rounded" src="<%#= image_url('cat03.jpeg') %>" />
                    </div>
                    <div class="events-desc">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                  </div>
                </div>
                <div class="events-footer">

                </div>
              </div>
              </dd>
              <dd class="pos-left clearfix">
              <div class="circ"></div>
              <div class="time">Jan 07</div>
              <div class="events">
                <div class="events-header">Event Heading</div>
                <div class="events-body">
                  <div class="row">
                    <div class="col-md-6 pull-left">
                      <img class="events-object img-responsive img-rounded" src="img<%#= image_url('/rabbit01.jpeg"') %>" />
                    </div>
                    <div class="events-desc">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                  </div>
                </div>
              </div>
              </dd>
              <dt>Jan 2016</dt>
              <dt>Dec 2015</dt>
              <dt>Oct 2015</dt>
              <dt>Sep 2015</dt>
              <dt>Aug 2015</dt>
            </dl>
          </div>
        </div>

      </div>
      <!--/milestone-area-->
    </div>
  </div>
  <!--/#milestone-->

  <div id="our-team">
    <div class="container">
      <div class="text-center">
        <h3>Our Team</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit<br>amet consectetur adipisicing elit</p>
      </div>
      <div class="row">
        <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
          <div class="text-center">
            <img src="<%= image_url 'team/1.png' %>" alt="">
            <h2>John Doe</h2>
            <h4>Founder & CEO</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Fusce fermen tum neque a rutrum varius</p>
          </div>
        </div>
        <div class="col-md-4 wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
          <div class="text-center">
            <img src="<%= image_url 'team/2.png' %>" alt="">
            <h2>John Doe</h2>
            <h4>Creative Director</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Fusce fermen tum neque a rutrum varius</p>
          </div>
        </div>
        <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
          <div class="text-center">
            <img src="<%= image_url 'team/3.png' %>" alt="">
            <h2>John Smith</h2>
            <h4>Creative Director</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Fusce fermen tum neque a rutrum varius</p>
          </div>
        </div>
      </div>
    </div>
    <div class="team">
      <div class="container">
        <div class="row">
          <div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
            <div class="text-center">
              <img src="<%= image_url 'team/team1.jpg' %>" class="img-responsive" alt="">
              <h2>John Doe</h2>
              <h4>Founder & CEO</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Fusce fermen tum neque a rutrum varius</p>
            </div>
          </div>
          <div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
            <div class="text-center">
              <img src="<%= image_url 'team/team2.jpg' %>" class="img-responsive" alt="">
              <h2>John Doe</h2>
              <h4>Creative Director</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Fusce fermen tum neque a rutrum varius</p>
            </div>
          </div>
          <div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
            <div class="text-center">
              <img src="<%= image_url 'team/team3.jpg' %>" class="img-responsive" alt="">
              <h2>John Smith</h2>
              <h4>Creative Director</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Fusce fermen tum neque a rutrum varius</p>
            </div>
          </div>
          <div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
            <div class="text-center">
              <img src="<%= image_url 'team/team4.jpg' %>" class="img-responsive" alt="">
              <h2>John Smith</h2>
              <h4>Creative Director</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Fusce fermen tum neque a rutrum varius</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/#our-team-->
  <div class="container">
    <div class="sub-footer">
      <div class="text-center">
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </div>
  <div class="social-icon">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <ul class="social-network">
          <li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
          <li><a href="#" class="dribbble tool-tip" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#" class="pinterest tool-tip" title="Pinterest"><i class="fa fa-pinterest-square"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="copyright">
      &copy; Gobot. All Rights Reserved.

    </div>
  </div>
  </footer>
  <script type="text/javascript">
$(document).ready(function(){
  $('.VivaTimeline').vivaTimeline({
    carousel: true,
    carouselTime: 3000
  });
});
  </script>
