<div class="container purchase-page">
    <br>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation" class="active"><a href="/wallet">My Wallet</a></li>
      <li role="presentation">
        <%= link_to 'Logout', destroy_account_session_path, method: :delete %>
      </li>
    </ul>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <h1>
        Purchase token
      </h1>
    </div>
    <div class="modal fade" id="modal-purchase-token" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">
              Purchase by BTC
            </h4>
          </div>
          <div class="modal-body">
            <span class="purchase-token"></span> token need <span class="purchase-btc"></span>BTC
            please send <span class="purchase-btc"></span>BTC todo this address : <span class="purchase-btc-code"></span>
            <div class="purchase-qrcode">
            </div>
          </div>
          <div class="modal-footer">
            <%= form_with remote: true do |form|%>
              <%= form.hidden_field :type, value: 'purchase'%>
              <%= form.hidden_field :amount, id: 'purchase-input-amount' %>
              <%= form.hidden_field :code, id: 'purchase-input-code' %>
              <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
              <button type="submit" class="btn btn-primary">purchase</button>
            <%end%>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-purchase-success" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">
              Purchase Success
            </h4>
          </div>
          <%# <div class="modal-body"></div> %>
          <div class="modal-footer">
            <%= form_with remote: true do |form|%>
              <%= form.hidden_field :type, value: 'purchase'%>
              <%= form.hidden_field :amount %>
              <%= form.hidden_field :code %>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <a type="submit" role="button" href="/wallet" class="btn btn-primary">Go to my wallet</a>
            <%end%>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal-purchase-error" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">
              Purchase Error
            </h4>
          </div>
          <div class="modal-body">Wallet address invalid, please try again after refresh</div>
          <div class="modal-footer">
            <%= form_with remote: true do |form|%>
              <%= form.hidden_field :type, value: 'purchase'%>
              <%= form.hidden_field :amount %>
              <%= form.hidden_field :code %>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <a type="submit" role="button" href="/wallet" class="btn btn-primary">Go to my wallet</a>
            <%end%>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <% [1000, 2000, 3000].each do |token|%>
        <div class="col-md-4 column">
          <%= link_to "#{token} Token", purchase_path(type: 'get_purchase', token: token), class: 'btn', role: 'button', remote: true%>
          <%# <a id="modal-476150" href="#modal-container-476150" role="button" class="btn" data-toggle="modal">1000 Token</a> %>
        </div>
      <%end%>
    </div>
    <div class="row clearfix">
      <% [4000, 5000, 6000].each do |token|%>
        <div class="col-md-4 column">
          <%= link_to "#{token} Token", purchase_path(type: 'get_purchase', token: token), class: 'btn', role: 'button', remote: true%>
          <%# <a id="modal-476150" href="#modal-container-476150" role="button" class="btn" data-toggle="modal">1000 Token</a> %>
        </div>
      <%end%>
    </div>
  </div>
