<%if params[:type] == 'get_purchase' %>
  var code = '<%= @code %>'
  var btc  = <%= @btc %>
  $(".purchase-token").html('<%= params[:token]%>')

  $(".purchase-btc").html(btc)
$(".purchase-qrcode").html('<%= j image_tag "https://bitaps.com/api/qrcode/png/#{ERB::Util.url_encode("bitcoin:#{@code}?amount=#{@btc}&label=Luke-Jr")}" %>')

  $(".purchase-btc-code").html(code)

  $('#purchase-input-amount').val(btc)
  $('#purchase-input-code').val(code)

  $("#modal-purchase-token").modal('show')

<%elsif params[:type] == 'purchase' %>
  $("#modal-purchase-token").modal('hide')

  var result = <%== @result.to_json %>
  if (result.status === 'OK') {
    $('#modal-purchase-success').modal({show: true})
  } else {
    $('#modal-purchase-error').modal({show: true})
  }
<%end%>
