
<div class="container">
  <br>
  <ul class="nav nav-pills">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation" class="active"><a href="#">My Wallet</a></li>
    <li role="presentation">
      <%= link_to 'Logout', destroy_account_session_path, method: :delete %>
    </li>
  </ul>
  <div class="row-fluid">
    <div class="span12">
      <%= content_tag :h1, id: 'wallet-title', data: {btcs: @verify_btcs.map{|b| {address: b.Address, confirm_count: b.confirm_txes_count, count: b.txes_count}}} do %>
        My wallet
      <% end %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <p>
      <strong>My token : <%= current_account.total_btc_token %></strong>
      </p>
    </div>
    <div class="span4">
      <p>
      <strong><span>Unconfirmations ： <%= current_account.unconfirmation_btc_token %></span></strong>
      </p>
    </div>
    <div class="span4">
      <%= link_to "Purchase Histories",wallet_history_path, class: 'btn btn-info' %> &nbsp;&nbsp;&nbsp;&nbsp;
      <% if Transaction.enable_token > 0 %>
        <%= link_to "Purchase",purchase_path, class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>

