
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-small'}) do |f| %>
  <h2><%= t('.sign_in') %></h2>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t('.sign_in'), class: 'btn btn-primary btn-lg btn-block' %>
  </div>

  <br />
  <%= render "devise/shared/links" %>
<% end %>

