# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/
$ ->
  get_api_url = (code)->
    "<%= SETTINGS['API_HOST'] %>/api/addr/#{code}/utxo?noCache=1"

  update_btc = (address) ->
    $.post '/api/btc/fresh', {address: address}

  check_btc = (btc) ->
    $.get get_api_url(btc.address), (data) ->
      if data.length != btc.count || data.filter(d => d.confirmations > 6).length != btc.confirm_count
        update_btc(btc.address)

  wallet = $("#wallet-title")

  if wallet.length > 0
    btcs = wallet.data('btcs')

    for btc in btcs
      check_btc btc

