<p id="notice"><%= notice %></p>

<h1>我的交易</h1>

<%= form_with url: charges_path, method: :get, data: {remote: false} do |f| %>
  <div class="form-row">
    <div class="col-auto">
      <%= f.label :wallet_type, '币种', class: 'mr-sm-2' %>
      <%= f.select :wallet_type, Charge::TYPES.map{|c| [c, "Wallet#{c.classify}"]}, { include_blank: true, selected: params[:wallet_type] }, class: 'mb-2 mr-sm-2 mb-sm-0 custom-select' %>
    </div>
    <div class="col-auto">
      <%= f.label :status, '状态', class: 'mr-sm-2' %>
      <%= f.select :status, [['未处理', 1], ['成功', 2], ['失败', 3]], { include_blank: true, selected: params[:status] }, class: 'mb-2 mr-sm-2 mb-sm-0 custom-select' %>
    </div>
    <div class="col-auto">
      <%= f.submit '搜索', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<br />

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">币种</th>
      <th scope="col">数量</th>
      <th scope="col">状态</th>
      <th scope="col">钱包地址</th>
    </tr>
  </thead>
  <% @charges.each_with_index do |charge, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= charge.wallet_type.sub('Wallet', '') %></td>
      <td><%= charge.amount %></td>
      <td><%= charge.status_name %></td>
      <td><%= charge.wallet_id %></td>
    </tr>
  <% end %>
</table>

<%= paginate @charges %>

