<p>成功提交</p>
<div class="row">
  <div class="col-sm">
    <h4>币种 </h4> <%= @charge.wallet_type.sub('Wallet', '').upcase %>
  </div>
  <div class="col-sm">
    <h4>购买数量 </h4> <%= @charge.amount %>
  </div>
  <div class="col-sm">
    <h4>状态 </h4> <%= @charge.status_name %>
  </div>
  <div class="col-sm">
    <h4>钱包地址 </h4> <%= @charge.wallet_id %>
  </div>
</div>
